<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Account Summary </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Account Summary</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-loading
    [isOpen]="(isLoading$ | async) === true"
    message="Fetching your data..."
    spinner="circles"></ion-loading>
  <app-account-info [summary]="(summary$|async) ?? []"></app-account-info>
</ion-content>
