<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Bills Summary </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Bills Summary</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-loading
    [isOpen]="(isLoading$ | async) === true"
    [message]="loadingMessage$ | async"
    spinner="circles"></ion-loading>
  <div id="list-container">
    <div
      class="list-item"
      *ngFor="let item of bills$ | async | keyvalue">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>
                <h1>{{ item.key }}</h1>
              </ion-label>
              <div class="button-list">
                <ion-button
                  fill="clear"
                  [disabled]="shouldDisable(item.key)"
                  (click)="handleSubmit()">
                  <ion-icon
                    name="checkmark-outline"
                    size="small"></ion-icon
                ></ion-button>
                <ion-button
                  fill="clear"
                  (click)="openModal(item.key)">
                  <ion-icon
                    name="add"
                    size="small"></ion-icon></ion-button
                ><ion-button
                  fill="clear"
                  (click)="handleDeleteCategory(item.key)"
                  ><ion-icon
                    name="trash-outline"
                    size="small"></ion-icon
                ></ion-button></div></ion-item
          ></ion-col>
        </ion-row>
      </ion-grid>
      <ion-list [inset]="true">
        <ion-grid>
          <ion-row *ngFor="let item of item.value">
            <ion-item-sliding>
              <ion-col>
                <ion-item>
                  <ion-label>{{ item.name }}</ion-label>
                  <div>
                    <ion-label
                      (click)="handleClick(item)"
                      *ngIf="item.clicked === false"
                      >{{ item.value | currency: 'USD' }}</ion-label
                    >
                    <ion-input
                      class="update-item"
                      *ngIf="item.clicked === true"
                      aria-label="Item Value"
                      type="number"
                      [placeholder]="item.value"
                      (ionInput)="changeValue(item, $event)"></ion-input>
                  </div>
                </ion-item>
              </ion-col>

              <ion-item-options side="end">
                <ion-item-option
                  color="danger"
                  (click)="deleteItem(item)">
                  <ion-icon
                    slot="icon-only"
                    name="trash"></ion-icon>
                </ion-item-option>
              </ion-item-options> </ion-item-sliding
          ></ion-row>
        </ion-grid>
      </ion-list>
    </div>
  </div>
  <ion-action-sheet
    [header]="'Really delete category: ' + (_categoryToDelete | async)"
    [isOpen]="(toggleActionSheet$ | async) === true"
    (didDismiss)="handleAction($event)"
    [buttons]="actionSheetButtons"></ion-action-sheet>

  <!-- Add Item Modal -->
  <ion-modal [isOpen]="(toggleModal$ | async) === true">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancelModal()">Cancel</ion-button>
          </ion-buttons>
          <ion-title>Add item to {{ categoryToAdd$ | async }}</ion-title>
          <ion-buttons slot="end">
            <ion-button
              (click)="confirmModal()"
              [strong]="true"
              >Confirm</ion-button
            >
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <form [formGroup]="updateForm">
          <ion-list>
            <ion-item>
              <ion-input
                formControlName="description"
                label="Description"
                placeholder="Enter description"
                type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input
                formControlName="value"
                label="Amount"
                placeholder="Enter amount"
                type="number"></ion-input>
            </ion-item>
          </ion-list>
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>

  <!-- Add Category Modal -->
  <ion-modal [isOpen]="(toggleCategoryModal$ | async) === true">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancelModal()">Cancel</ion-button>
          </ion-buttons>
          <ion-title>Add a new category.</ion-title>
          <ion-buttons slot="end">
            <ion-button
              (click)="confirmNewCategory()"
              [strong]="true"
              >Confirm</ion-button
            >
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <form [formGroup]="_categoryForm">
          <ion-list>
            <ion-item>
              <ion-input
                formControlName="category"
                label="Category"
                placeholder="Enter category"
                type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input
                formControlName="name"
                label="Bill Name"
                placeholder="Enter bill name"
                type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input
                formControlName="value"
                label="Bill Amount"
                placeholder="Enter bill amount"
                type="number"></ion-input>
            </ion-item>
          </ion-list>
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>
  <ion-alert
    [isOpen]="(toggleAlert$ | async) === true"
    (didDismiss)="dismissAlert()"
    header="All fields are required."
    subHeader="Please review your inputs."
    [buttons]="['Review']"></ion-alert>
</ion-content>

<ion-fab
  class="fixed-button"
  (click)="openNewCategoryModal()">
  <ion-fab-button>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
