<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Bills Summary </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Bills Summary</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-loading
    [isOpen]="(isLoading$ | async) === true"
    message="Fetching your data..."
    spinner="circles"></ion-loading>

  <div *ngFor="let item of bills$ | async | keyvalue">
    <ion-item>
      <ion-label>
        <h1>{{ item.key }}</h1>
      </ion-label>
    </ion-item>
    <ion-list [inset]="true">
      <ion-item *ngFor="let item of item.value">
        <ion-label>{{ item.name }}</ion-label>
        <ion-label>{{ item.value | currency: 'USD' }}</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
