<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button
      tab="summary"
      href="/tabs/summary">
      <ion-icon
        aria-hidden="true"
        name="triangle"></ion-icon>
      <ion-label>Account Summary</ion-label>
    </ion-tab-button>

    <ion-tab-button
      tab="credit-card-tracker"
      href="/tabs/credit-card-tracker">
      <ion-icon
        aria-hidden="true"
        name="ellipse"></ion-icon>
      <ion-label>Credit Card Tracker</ion-label>
    </ion-tab-button>

    <ion-tab-button
      tab="budget-overview"
      href="/tabs/budget-overview">
      <ion-icon
        aria-hidden="true"
        name="square"></ion-icon>
      <ion-label>Budget Overview</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
